*.pyc
*/*.pyc

.ipynb_checkpoints/*
*/.ipynb_checkpoints/*

__pycache__/*
*/__pycache__

*.npy
*/*.npy

defocuscam/studies/*/outputs/
defocuscam/studies/*/data/
defocuscam/studies/data
defocuscam/wandb/
defocuscam/studies/wandb/

*.egg-info

__*